@media screen and (max-width: 768px) {
    body {
        background-color: black;
        color: white;
    }
}

.column {
  color: coral;
  font-style: italic;
}


@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}

.column {
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
}

@media screen and (max-width: 580px) and (min-width: 479px){
  body {
    background-color: pink;
  }
}
